  <!-- Page Content -->
  <header class="py-5 mb-5" style="background-color: #434343">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-2">
          <img src="" />
        </div>
        <div class="col-lg-10">
          <h1 class="display-4 text-white mt-5 mb-2">Projeto Uni9 - 2 Semestre</h1>
          <p class="lead mb-5 text-white">Guilherme Marques RA:3021202194</p>
        </div>
      </div>
    </div>
  </header>
  <div class="main-container body-card">
      <main class = "cards">
          <section class = "card blue">
              <div class="icon">
                <img src="" alt="">
              </div>
              <h3>Consultoria DevOps</h3>
              <span>Lorem ipsum dolor sit amet, copnsectetur adispinscing elit</span>
              <button>Lean More</button>
          </section>
  
          <section class = "card blue">
              <div class="icon">
                  <img src="" alt="">
              </div>
              <h3>Consultoria em Designs</h3>
              <span>Lorem ipsum dolor sit amet, copnsectetur adispinscing elit</span>
              <button>Lean More</button>
          </section>
  
          <section class = "card blue">
              <div class="icon">
                  <img src="" alt="">
              </div>
              <h3>Testes Automatizados</h3>
              <span>Lorem ipsum dolor sit amet, copnsectetur adispinscing elit</span>
              <button>Lean More</button>
          </section>
  
  
      </main>
  </div>
<!-- Fim Content -->  
 