<div class="main-container">
    <div class="col-12">
        <h3 class = "h3">Design de Software</h3>
    </div>

    <div class="row">
        <div class="col-6">
            <img class="img-6" src="https://static.vecteezy.com/system/resources/previews/000/338/759/non_2x/flat-modern-graphic-design-software-development-vector-illustration.jpg">
        </div>
        <div class="col-6">
            <p>
                Existem ferramentas que podem e devem ser utilizadas para diminuir o risco na entrega
                 de produtos de software. Uma das maneiras de se diminuir os riscos de construção,
                 é aplicar as particas de construção de modelagem da solução,em especial, o desenho
                  técnico. Através dos entregáveis da fase de desenho aumenta-se a qualidade na passagem
                   de informação para a fase de construção, e através da UML(Unified Modeling Language), podemos ter uma comunicação
                    única, visual e bastante completa, da visão de como deve ser o produto que 
                    pretende-se entregar.  
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-sm-3">
            <h2>UI</h2>
            <p>Dos botões aos menus, nosso time pensa em todos os detalhes.</p>
        </div>
        <div class="col-6 col-sm-3">
            <h2>UX</h2>
            <p>A experiência de seu usuário pensada do início ao fim por um profissional.</p>
        </div>
        <div class="col-6 col-sm-6">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiV3s5dddZ_TtmyXcumHf1DTIFFhVcl-mfRo6JQMy2-EtxcQMEMEAKQyTSIZXboVbb6_k&usqp=CAU" class="img-6">
        </div>
        <div class="w-100"></div>
    </div>
    
</div>